# .gitignore
#

src/runtime/parser/
grammar/build/
dist/
build/
backup/
*.log
gdl/tests/output/*.xml
gdl/tests/compile_mgr_tester/output

# Ignore Eclipse specific files
.classpath
.project
.settings/

# Ignore bundler dirs
.bin/
.bundle/

# Ignore Idea dirs/files
.idea/
out/
tmp/
*.iml

